<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">


<h1>Welcome!</h1>

<div class="container">

    <span class="header-primary">Hello {{name}}, My first Angular Application</span>
    <!-- <span class="header-sub">{{welcomeMessage }}</span> -->

    <span class="header-sub">List of Todos <a routerLink='/todos'>here</a></span>

  <button class="btn btn-success" (click)="getWelcomeMessageWithPathVariable()">Get welcome Message</button>

  <h2 *ngIf='welcomeMessageFromService'>Customized Welcome</h2>
  {{welcomeMessageFromService}}

</div>


