<!-- <p>list-todos works!</p> -->

<h1>My Todo's</h1>

<div class="container">

<body>
    <table class="table">
        <caption>My Todo's</caption>

        <thead>
                <th>Id</th>
            <th>Description</th>
            <th>Target Date</th>
            <th>Is completed?</th>
        </thead>

        <tbody>
            <tr *ngFor='let todo of todos'>
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.targetData | date}}</td>
                <td>{{todo.dona}}</td>
            </tr>
        </tbody>
    </table>
</body>

</div>